body {
    /* background-color: #f4f4f9; */
    width: 720px;
}

.container {
    max-width: 100%;
    margin: auto;
}

.error {
    color: red;
    font-size: 12px;
}

.error-icon {
    width: 14px;
}